.root {
  background: linear-gradient(45deg, #30cfd0, #330867);
}

.cardWrapper {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 40px;

  img {
    object-fit: cover;
    width: 100%;
    height: 65vh;
  }
}

.cardAbout {
  max-height: 80vh;
  min-width: 30vw;
}

.description {
  width: 60%;
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .cardWrapper {
    flex-direction: column;
    width: 70vw;
    margin-top: 25px;
    padding: 0;

    img {
      height: 35vh;
    }
  }

  .description {
    width: 100%;
    font-size: 18px;
    margin: 15px 0;
  }
}