.root {
  width: 80vw;
  margin: 40px auto;
  display: flex;
}

.picture {
  display: flex;
  justify-content: center;

  img {
    height: 400px;
    margin-right: 20px;
  }
}

.description {
  min-width: 50%;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 840px) {
  .root {
    display: block;
  }

  .picture {
    img {
      height: 300px;
      margin-right: 0;
    }
  }

  .description {
    margin-top: 20px;
  }
}