img {
  height: 40px;
  cursor: pointer;
}

.buttons {
  margin-right: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #fefefe;
}

a:hover {
  color: lighten(#ea1d24, 5%);
}

@media (max-width: 480px) {
  .buttons {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
  }

  img {
    height: 30px;
  }

  a {
    padding: 4px;
  }
}