.image {
  display: block;
  object-fit: cover;
  height: 80vh;
  width: 100%;
}

.caption {
  margin: 0 auto;
  width: 55vw;
  border-radius: 20px;
  color: #ffffff;
  background: #8d8d8d;
  text-shadow: 4px 4px 4px #000;
  opacity: 0.9;
}

@media (max-width: 480px) {
  .caption {
    width: 80vw;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
}